@charset "UTF-8";
@import "shCoreDefault.less";
/* ---------------------------------------------------------------------------------------
	#PROJECTSPECIFIC ELEMENTS
	--------------------------------------------------------------------------------------- */

// Put all your custom CSS down here!
// But start new LESS files for major components.

.sandbox {
	padding: 10px 20px;
	background: darken(@backgroundColor,3%);
	margin-bottom: 10px;
}

.placeholder {
	height: 130px;
}

.headline {
	margin: 16px 0; border-bottom: 1px solid #eeeeee;
}


.nav-trigger, label[for="nav-trigger"] {
	display: none;
}



// => Projectspecific Media Queries

.media-mixin(@break) when (@break = @breakSmall) {
	.sidebar {
		width: 70%;
		position: absolute;
		top: 40px;
		right: -80%;
		z-index: 10;
		padding: 0;
		transition: right 0.6s ease;
		box-shadow: 0 0 5px 0px #777777;
		
		.menu-list {
			margin: 0;
		}
	}


	label[for="nav-trigger"] {
		display: block;
		position: absolute;
		top: 0;
		right: 10px;
		z-index: 10;
		width: 40px;
		height: 35px;
		cursor: pointer;
		background-color: @mainColor;
		background-size: contain;
		box-shadow: 0 0 3px 1px #777777;
		
		&:before {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
			background-size: contain;
			-webkit-filter: invert(100%);
			filter: invert(100%);
			display: block;
			content: '';
			height: 27px;
			width: 32px;
			margin-top: 4px;
			margin-left: 4px;
		}
	}

	.nav-trigger&:checked ~ .sidebar {
		right: 0;
	}
}

.media-mixin(@break) when (@break = @breakMedium) {

}

.media-mixin(@break) when (@break = @breakLarge) {

}

.media-mixin(@break) when (@break = @break2x) {

}

.media-mixin(@break) when (@break = @breakPrint) {

}