@charset "UTF-8";
/* ---------------------------------------------------------------------------------------
	BOXES
--------------------------------------------------------------------------------------- */


.media-box-1 {
	border: 3px solid @mainColor;
	padding: 15px;

	& .media-box-1-image {
		height: 100%;
		width: 15%;
	}
	/* #FIXME: use two columns and set image height as 100% */
	/*
	& .media-box-1-headline {
		float: left;
	}
	& .media-box-1-content {
		float: left;
	}
	*/

	&:after {
		clear: both;
	}
}


// => Grid Media Queries

.media-mixin(@break) when (@break = @breakSmall) {

}

.media-mixin(@break) when (@break = @breakMedium) {

}

.media-mixin(@break) when (@break = @breakLarge) {

}

.media-mixin(@break) when (@break = @breakPrint) {

}