@charset "UTF-8";
/* ---------------------------------------------------------------------------------------
	BOXES
--------------------------------------------------------------------------------------- */


.media {
	border: 3px solid @mainColor;
	padding: 15px;
	display: flex;
	align-items:flex-start;

	& .media-left {
		margin-right: 10px;
	}

	& .media-image {
		height: 150px;
		width: 150px;
	}

	& .media-content {
		flex: 1;
		text-align: left;
	}

	& .media-content [class^="h"] {
		margin: 0 0 0 2em;
	}
}


// => Grid Media Queries

.media-mixin(@break) when (@break = @breakSmall) {

}

.media-mixin(@break) when (@break = @breakMedium) {

}

.media-mixin(@break) when (@break = @breakLarge) {

}

.media-mixin(@break) when (@break = @breakPrint) {

}