@charset "UTF-8";
/* ---------------------------------------------------------------------------------------
	BOXES
--------------------------------------------------------------------------------------- */


.media {
	border: 3px solid @mainColor;
	padding: 15px;
	display: flex;
	align-items:flex-start;

	& .media-left {
		margin-right: 10px;
	}

	& .media-content {
		flex: 1;
		text-align: left;
	}

	& .media-content [class^="h"] {
		margin: 0 0 0 2em;
	}

	& .media {
		border: none;
		border-top: 1px solid #ddd;
		padding: 5px 0 0;

	}

	&:not(:last-child) {
		margin-bottom: 15px;
	}

	& p {
    	font-size: .8em;
	}

	& h4 {
		margin: 0;
	}
}

.is-32x32 {
	width: 32px;
	height: 32px;
}
.is-48x48 {
	width: 48px;
	height: 48px;
}
.is-64x64 {
	width: 64px;
	height: 64px;
}
.is-150x150 {
	width: 150px;
	height: 150px;
}
.is-265x265 {
	width: 256px;
	height: 256px;
}


// => Grid Media Queries

.media-mixin(@break) when (@break = @breakSmall) {

}

.media-mixin(@break) when (@break = @breakMedium) {

}

.media-mixin(@break) when (@break = @breakLarge) {

}

.media-mixin(@break) when (@break = @breakPrint) {

}