/* ALL CHANGES IN THIS WILL BE OVERWRITTEN */
/* USE icon_prototype.less */


@charset "UTF-8";

/* ------------------------------------------------------------------------------------------------------
	#ICONS
------------------------------------------------------------------------------------------------------ */

/*
ViUR Ignite features two types of icons: as inline SVG or before element.
*/

@iconSuccessColor: @successColor;
@iconWarnColor: @warnColor;

/* InlineSVG Icons */

.icon {
	display: inline-block;
	vertical-align: text-top;
	fill: currentcolor;
	color:inherit;
	width:1em;
	height:1em;
	& path {fill:inherit}
}

.icon-vSuccess {
	color: darken(@iconSuccessColor, 25%);
}

.icon-vWarn {
	color: darken(@iconWarnColor, 25%);
}

/* Before Icons */
.i-account:before {
	background-image:url('../icons/modules/account.svg');
}
.i-apps:before {
	background-image:url('../icons/modules/apps.svg');
}
.i-archived:before {
	background-image:url('../icons/modules/archived.svg');
}
.i-calendar:before {
	background-image:url('../icons/modules/calendar.svg');
}
.i-cart:before {
	background-image:url('../icons/modules/cart.svg');
}
.i-categories:before {
	background-image:url('../icons/modules/categories.svg');
}
.i-clock:before {
	background-image:url('../icons/modules/clock.svg');
}
.i-comments:before {
	background-image:url('../icons/modules/comments.svg');
}
.i-contact-person:before {
	background-image:url('../icons/modules/contact-person.svg');
}
.i-file-system:before {
	background-image:url('../icons/modules/file-system.svg');
}
.i-film:before {
	background-image:url('../icons/modules/film.svg');
}
.i-gift:before {
	background-image:url('../icons/modules/gift.svg');
}
.i-heart:before {
	background-image:url('../icons/modules/heart.svg');
}
.i-hierarchy:before {
	background-image:url('../icons/modules/hierarchy.svg');
}
.i-home:before {
	background-image:url('../icons/modules/home.svg');
}
.i-labels:before {
	background-image:url('../icons/modules/labels.svg');
}
.i-list:before {
	background-image:url('../icons/modules/list.svg');
}
.i-locations:before {
	background-image:url('../icons/modules/locations.svg');
}
.i-logbook:before {
	background-image:url('../icons/modules/logbook.svg');
}
.i-music:before {
	background-image:url('../icons/modules/music.svg');
}
.i-news:before {
	background-image:url('../icons/modules/news.svg');
}
.i-newsletter-preview:before {
	background-image:url('../icons/modules/newsletter-preview.svg');
}
.i-newsletter-send:before {
	background-image:url('../icons/modules/newsletter-send.svg');
}
.i-newsletter:before {
	background-image:url('../icons/modules/newsletter.svg');
}
.i-order-cancelled:before {
	background-image:url('../icons/modules/order-cancelled.svg');
}
.i-order-not-paid:before {
	background-image:url('../icons/modules/order-not-paid.svg');
}
.i-order-not-shipped:before {
	background-image:url('../icons/modules/order-not-shipped.svg');
}
.i-order-paid:before {
	background-image:url('../icons/modules/order-paid.svg');
}
.i-order-ready:before {
	background-image:url('../icons/modules/order-ready.svg');
}
.i-order-return:before {
	background-image:url('../icons/modules/order-return.svg');
}
.i-order-shipped:before {
	background-image:url('../icons/modules/order-shipped.svg');
}
.i-pages:before {
	background-image:url('../icons/modules/pages.svg');
}
.i-photo:before {
	background-image:url('../icons/modules/photo.svg');
}
.i-press:before {
	background-image:url('../icons/modules/press.svg');
}
.i-qr-code:before {
	background-image:url('../icons/modules/qr-code.svg');
}
.i-recently-added:before {
	background-image:url('../icons/modules/recently-added.svg');
}
.i-recently-edited:before {
	background-image:url('../icons/modules/recently-edited.svg');
}
.i-settings:before {
	background-image:url('../icons/modules/settings.svg');
}
.i-shoutbox:before {
	background-image:url('../icons/modules/shoutbox.svg');
}
.i-statistics:before {
	background-image:url('../icons/modules/statistics.svg');
}
.i-tree:before {
	background-image:url('../icons/modules/tree.svg');
}
.i-users:before {
	background-image:url('../icons/modules/users.svg');
}
.i-video:before {
	background-image:url('../icons/modules/video.svg');
}
.i-arrowhead-left:before {
	background-image:url('../icons/arrowhead-left.svg');
}
.i-check:before {
	background-image:url('../icons/check.svg');
}
.i-cross:before {
	background-image:url('../icons/cross.svg');
}
.i-flash:before {
	background-image:url('../icons/flash.svg');
}
.i-heart:before {
	background-image:url('../icons/heart.svg');
}
.i-not-allowed:before {
	background-image:url('../icons/not-allowed.svg');
}
.i-pen:before {
	background-image:url('../icons/pen.svg');
}
