/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	-moz-border-radius: 0 0 0 0 !important;
	-webkit-border-radius: 0 0 0 0 !important;
	background: none !important;
	border: 0 !important;
	bottom: auto !important;
	float: none !important;
	height: auto !important;
	left: auto !important;
	line-height: 1.1em !important;
	margin: 0 !important;
	outline: 0 !important;
	overflow: visible !important;
	padding: 0 !important;
	position: static !important;
	right: auto !important;
	text-align: left !important;
	top: auto !important;
	vertical-align: baseline !important;
	width: auto !important;
	box-sizing: content-box !important;
	font-family: @monoFonts !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 1em !important;
	min-height: inherit !important;
	min-height: auto !important;
}

.syntaxhighlighter {
	width: 100% !important;
	margin: 1em 0 1em 0 !important;
	position: relative !important;
	overflow: auto !important;
	font-size: 1em !important;
}
.syntaxhighlighter.source {
	overflow: hidden !important;
}
.syntaxhighlighter .bold {
	font-weight: bold !important;
}
.syntaxhighlighter .italic {
	font-style: italic !important;
}
.syntaxhighlighter .line {
	white-space: pre !important;
}
.syntaxhighlighter table {
	width: 100% !important;
}
.syntaxhighlighter table caption {
	text-align: left !important;
	padding: .5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code {
	width: 100% !important;
}
.syntaxhighlighter table td.code .container {
	position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
	box-sizing: border-box !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	border: none !important;
	background: white !important;
	padding-left: 1em !important;
	overflow: hidden !important;
	white-space: pre !important;
}
.syntaxhighlighter table td.code .line {
	padding: 0 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
	padding-left: 0em !important;
}
.syntaxhighlighter.show {
	display: block !important;
}

.syntaxhighlighter {
    background-color: #f1f1f1 !important;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
	background-color: #e0e0e0 !important;
}
.syntaxhighlighter .line.highlighted.number {
	color: black !important;
}
.syntaxhighlighter table caption {
	color: black !important;
}
.syntaxhighlighter .toolbar {
	display: none !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
	color: #333 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
	color: #21b64b !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
	color: #d44950 !important;
}
.syntaxhighlighter .keyword {
	color: #2f6f9f !important;
}
.syntaxhighlighter .preprocessor {
	color: gray !important;
}
.syntaxhighlighter .variable {
	color: #aa7700 !important;
}
.syntaxhighlighter .value {
	color: #009900 !important;
}
.syntaxhighlighter .functions {
	color: #ff1493 !important;
}
.syntaxhighlighter .constants {
	color: #0066cc !important;
}
.syntaxhighlighter .script {
	font-weight: bold !important;
	color: #006699 !important;
	background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
	color: #4f9fcf !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
	color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
	color: red !important;
}



.syntaxhighlighter code:before,
.syntaxhighlighter code:after {
	margin: 0;
	display: none;
}
