@charset "UTF-8";

/* ViUR Ignite CSS 2016 */

// This is the master file.
// It imports all less files in their intended order for easy mass-inclusion.
// Should you need specific files, you can easily customize the imports.

// Reset
@import "reset.less"; // resets all browsers to the same base state.

// Fundamental parts, Type and Utilities
@import "basic.less"; // classic basic styling.
@import "wrap.less"; // page wrappers.
@import "util.less"; // utility classes.

// Buttons, Forms and Tables
@import "button.less"; // some classic buttons.
@import "form.less"; // inputs, selects and other form elements.
@import "table.less"; // a classic table layout.

// Tooltips, Messages and States  
@import "tooltip.less"; // lightweight tooltips.
@import "badge.less"; // badges and marker.
@import "message.less"; // hints, errors, warnings etc.
@import "state.less"; // is-, has-, no- etc.
@import "popup.less";
@import "footnote.less";
@import "spinner.less";

// Objects
@import "app.less"; // customize your CSS here.
@import "menu.less";
@import "parallax.less";
@import "grid.less";
@import "boxes.less";
@import "progress.less";
@import "tabs.less";

// Configuration and Mixins
@import "appconf.less"; // customize colors and fonts here.
@import "image.less"; // base64 encoded imagery.
@import "icon.less"; // ViUR SVG icons.
@import "zindex.less"; // organize your z-indexes.


/* Media Queries */
@media only screen and (max-width: @breakLarge) {
	.media-mixin(@breakLarge);
}

@media only screen and (max-width: @breakMedium) {
	.media-mixin(@breakMedium);
}

@media only screen and (max-width: @breakSmall) {
	.media-mixin(@breakSmall);
}

@media  only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	.media-mixin(@break2x);
}

/* Print */
@media @breakPrint {
	.media-mixin(@breakPrint);
}