@charset "UTF-8";
/* ViCSS 2016 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: top;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "\00BB" "\00AB";
}
strong {
  font-weight: bold;
}
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 1em;
  /* 1 */

  -webkit-text-size-adjust: 1em;
  -ms-text-size-adjust: 1em;
  /* 2 */

}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Reset Box-sizing 
   ========================================================================== */
* {
  box-sizing: border-box;
}
/* ---------------------------------------------------------------------------------------
    BASICS, FUNDAMENTALS and TYPE
--------------------------------------------------------------------------------------- */
body {
  margin: 0;
  /* IE Reset */

  background: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 100.01%;
  line-height: 1.5;
  color: #222222;
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;
}
/* Links */
a,
a:link,
a:visited {
  color: #cc0000;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus,
a:active {
  color: #330000;
}
p a,
p a:visited {
  line-height: inherit;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.6;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  color: inherit;
}
h1 {
  margin: 16px 0;
  color: #cc0000;
  font-size: 2.1em;
  border-bottom: 1px solid #eeeeee;
}
h2 {
  margin: 16px 0;
  color: #cc0000;
  font-size: 1.7em;
  border-bottom: 1px solid #eeeeee;
}
h3 {
  color: #cc0000;
  font-size: 1.5em;
}
p {
  line-height: 1.6;
  font-size: 1em;
}
.lead {
  font-size: 1.3em;
  font-weight: 300;
}
.sandbox {
  padding: 10px 20px;
  background-color: #f6f6f6;
}
em {
  font-style: italic;
}
blockquote {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  color: #828282;
  padding: 0 15px;
  border-left: 7px solid #d1d1d1;
}
code,
pre {
  font-family: Courier, monospace;
}
/* Lists */
ul,
.ul-vFirst {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style-type: disc;
}
.ul-vSecond {
  padding: 3px 18px;
  list-style-type: square;
}
.ul-vThird {
  padding: 3px 18px;
  list-style-type: circle;
}
ol,
.ol-vFirst {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style-type: decimal;
}
.ol-vSecond {
  padding: 3px 18px;
  list-style-type: upper-roman;
}
.ol-vThird {
  padding: 3px 18px;
  list-style-type: upper-alpha;
}
.pointer {
  cursor: pointer;
}
/* ---------------------------------------------------------------------------------------
    #WRAPPER and BINDER
--------------------------------------------------------------------------------------- */
/* 
Container to wrap up chunks of content over the whole width of the page. 
Use it for different background colors oder images across the screen. 
*/
.wrap {
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}
/* Container to center the content in the middle of the page. */
.bind {
  max-width: 1000px;
  padding: 0 5%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* Container to seperate chunks of content in the middle of the page. */
.content {
  width: 100%;
  padding-top: 40px;
  overflow: hidden;
}
/* ---------------------------------------------------------------------------------------
    #UTILITY STYLES
--------------------------------------------------------------------------------------- */
/* Clearfix */
.clear {
  clear: both;
}
/* Floats */
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/* Text Align */
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
/* ---------------------------------------------------------------------------------------
    BUTTONS
--------------------------------------------------------------------------------------- */
.btn {
  padding: 9px 20px;
  margin: 6px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 1px 2px 3px #eeeeee;
  -moz-box-shadow: 1px 2px 3px #eeeeee;
  box-shadow: 1px 2px 3px #eeeeee;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  transition: all .3s ease;
}
.btn:hover {
  background-color: #f9f9f9;
  -webkit-box-shadow: 2px 2px 5px #dddddd;
  -moz-box-shadow: 2px 2px 5px #dddddd;
  box-shadow: 2px 2px 5px #dddddd;
}
.btn:active {
  color: #ffffff;
  background-color: #eeeeee;
}
.btn-vSmall {
  padding: 5px 14px;
}
.btn-vPrimary {
  color: #ffffff;
  background-color: #4CAF50;
  border: 1px solid #439a46;
  transition: all .3s ease;
}
.btn-vPrimary:hover {
  background-color: #439a46;
  border: 1px solid #3d8b40;
}
.btn-vPrimary:active {
  background-color: #3d8b40;
}
.btn-vDanger {
  color: #ffffff;
  background-color: #cc0000;
  border: 1px solid #b80000;
  transition: all .3s ease;
}
.btn-vDanger:hover {
  background-color: #b80000;
  border: 1px solid #a30000;
}
.btn-vDanger:active {
  background-color: #a30000;
}
.btn-vOutline {
  color: #cc0000;
  transition: all .3s ease;
}
.btn-vOutline:hover {
  background-color: #f8f8f8;
}
.btn-vOutline:active {
  background-color: #eeeeee;
}
.btn.disabled {
  color: #aaaaaa;
  cursor: default;
}
.btn.disabled:hover {
  background-color: #ffffff;
}
.btn-vPrimary.disabled {
  color: #ffffff;
  background-color: #c7e7c8;
  border: 1px solid #bce2be;
  cursor: default;
}
.btn-vPrimary.disabled:hover {
  background-color: #c7e7c8;
}
.btn-vDanger.disabled {
  color: #ffffff;
  background-color: #ffb3b3;
  border: 1px solid #ffa8a8;
  cursor: default;
}
.btn-vDanger.disabled:hover {
  background-color: #ffb3b3;
}
.btn-vOutline.disabled {
  color: #ffb3b3;
  background-color: #ffffff;
  cursor: default;
}
.disabled:hover {
  -webkit-box-shadow: 1px 2px 3px #eeeeee;
  -moz-box-shadow: 1px 2px 3px #eeeeee;
  box-shadow: 1px 2px 3px #eeeeee;
}
.btn-group {
  vertical-align: middle;
  display: inline-block;
}
.btn-group .btn {
  margin-right: 0px;
  margin-left: -1px;
  float: left;
  position: relative;
}
.btn-group .btn:first-of-type {
  margin-left: 6px;
}
.btn-group .btn:last-of-type {
  margin-right: 6px;
}
.btn-vBlock {
  margin: 0;
  width: 100%;
  display: block;
  margin-top: 5px;
}
/* FIXME!  
.dynaform input[type="text"].ohne {
  border: 0;
  background: transparent;
  box-shadow: none;}

input[type="button"],
input[type="submit"],
button,
a.button {
    -webkit-appearance: none;
    border-radius:0;
    transition:all .3s ease;
    color:#444;
    display: inline-block;
    margin-right:10px;
    margin-bottom:10px;   
    background: #e6e6e6;
    border:1px solid #ccc;
    font-family: "Graublau Web", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.button,
button.slim {
    font-weight:400;
    font-size:.9em;
    padding:3px 9px;
    border:1px solid #ccc;
    background: #e6e6e6;
    cursor:pointer;
 }

a.button:hover,
button.slim:hover {
    background: #f4f4f4; 
}

a.action {display:block; float:right; margin-bottom:20px;}

input[type="button"],
input[type="submit"],
button.action,
a.action {
    color:#fff;
    font-weight:700;
    padding:9px 12px;
    border:1px solid darken(@maincolor, 30%);
    background-color:@maincolor;
    letter-spacing:.1em;
}

input[type="submit"].order.primary,
button.primary.action,
a.primary.action {
    background-color: @success;
    border-color: lighten(@success, 20%);
}

button.reset.action {
    color:#999;
    border:1px solid #999;
    background-color:#ccc; 
}

a.action:hover,
button.action:hover {
    color:#fff;
    border-color: @maincolor;
    background-color:lighten(@maincolor, 30%);
}

input[type="button"]:hover,
input[type="submit"]:hover,
button.primary.action:hover,
a.primary.action:hover {
    border:1px solid #990000;
    background:#cc0000;
}

input[type="search"] {padding:11px 9px 9px}
*/
/* ViUR Form 2016 */
/* by mausbrand.de */
/* ------------------------------------------------------------------------------------------------------
    #ViUR FORM
------------------------------------------------------------------------------------------------------ */
.input {
  padding: 9px 10px;
  margin: 6px;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  vertical-align: middle;
  display: inline-block;
  transition: all .3s ease;
}
.input:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px #eeeeee;
  -moz-box-shadow: 2px 2px 5px #eeeeee;
  box-shadow: 2px 2px 5px #eeeeee;
}
.input-vContrast {
  background-color: #f9f9f9;
}
.input-vSmall {
  padding: 6px 7px;
  font-size: 0.85em;
  width: 180px;
}
.input-vLarge {
  padding: 8px 11.5px;
  font-size: 1.25em;
  width: 280px;
}
.input-vBlock {
  width: 100%;
  margin: 0;
}
.input-vError {
  border-color: #cc0000;
  background-color: #fffafa;
}
.input-vWarning {
  border-color: #FF9800;
  background-color: #fffcf7;
}
.input-vAccepted {
  border-color: #4CAF50;
  background-color: #f7fbf7;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 9px 20px;
  padding-right: 38px;
  margin: 6px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  background-image: url("../images/select-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  transition: all .3s ease;
}
.select:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px #eeeeee;
  -moz-box-shadow: 2px 2px 5px #eeeeee;
  box-shadow: 2px 2px 5px #eeeeee;
}
.select-vSmall {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 5px 20px;
  padding-right: 38px;
  margin: 6px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  background-image: url("../images/select-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.input-group {
  display: block;
  margin: 0 6px;
}
.input-group .input,
.input-group .btn,
.input-group .select {
  margin: 6px 0px;
  float: left;
  position: relative;
}
.input-group .btn {
  margin-left: -1px;
}
.checkbox {
  margin-right: 5px;
  cursor: pointer;
}
.note {
  font-size: 0.8em;
  margin: 0;
  padding-left: 22px;
}
/* FIXME! Bones */
.vi-formBone {
  padding-bottom: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}
/* Labels */
.vi-formLabel {
  width: 220px;
  float: left;
  text-align: right;
  padding: 4px 10px 5px;
  min-height: 16px;
  border: 1px dotted #ddd;
  border-right-width: 0;
  background: #f9f9f9;
  overflow: hidden;
  line-height: 1.4em;
  font-size: 0.8em;
}
.vi-formLabel.is-required {
  border-style: solid;
  border-left-color: #cc0000;
  border-left-width: 2px;
  background: #fff;
}
.vi-formLabel.is-invalid {
  background: #d9a600;
  color: #fff;
  border-left-color: #735800;
}
.vi-formLabel-vText {
  border-bottom: 0;
  border-right-width: 1px;
}
.vi-formLabel-vSelectone {
  border-right-width: 1px;
}
.vi-formBone-vSelectMulti div label {
  border: 1px solid #ccc;
  border-top-width: 0;
  clear: left;
  margin-left: 241px;
  width: 320px;
}
.vi-formBone-vSelectMulti div label:first-of-type {
  clear: none;
  margin-left: 0;
  border: 1px solid #ccc;
}
.vi-formBone-vSelectMulti div label:nth-of-type(even) {
  background-color: #eee;
}
.vi-formBone-vSelectMulti div label input {
  float: right;
  width: 15px;
  margin-right: 0;
}
.vi-formBone-vSelectMulti div label span {
  display: block;
  float: left;
}
.vi-form .password div label {
  margin-top: 40px;
  margin-left: -240px;
}
/* Input Fields */
.vi-formTextarea,
.vi-formInput,
.vi-formText .preview,
.vi-form [contenteditable] {
  display: inline-block;
  font-size: 0.9em;
  width: 50%;
  margin-right: 15px;
  margin-left: 0;
  margin-top: 0;
  padding: 4px 1.3% 6px;
  height: 16px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #cc0000;
  box-shadow: inset 0px 0px 3px #eee;
  font-weight: 300;
  border-radius: 0px;
  background: #eaeaea;
  background: linear-gradient(to bottom, #eaeaea 0%, #fafafa 100%);
}
.vi-formInput-vDate {
  width: 162px;
}
.vi-formInput-vRadio,
.vi-formInput-vCheckbox {
  margin-right: 15px;
}
.vi-formInput-Password:nth-of-type(even) {
  margin-top: 12px;
}
.vi-formTextarea,
.vi-formText .preview {
  width: 100%;
  height: 120px;
  line-height: 1.5em;
}
.vi-formText .preview {
  overflow: hidden;
  overflow-y: scroll;
  border-bottom: 1px solid #777;
  background: #f1f1f1;
  text-overflow: ellipsis;
  max-width: 1300px;
}
.vi-formSelect {
  min-width: 175px;
  max-width: 300px;
  margin-left: 15px;
  border: 1px solid #ccc;
  font-size: .75em;
  font-weight: 100;
  color: #222222;
}
.vi-formContainer {
  display: inline-block;
}
.vi-form .tagcontainer {
  min-width: 50%;
}
.vi-form .selectioncontainer button,
.vi-form .tagcontainer button {
  margin-right: 15px;
}
.vi-form .tagcontainer button {
  margin-bottom: 5px;
}
.vi-form .selectioncontainer .entrydescription,
.vi-form .selectioncontainer label {
  border: 1px solid #ccc;
  border-right-width: 0;
  width: auto;
  min-width: 220px;
  max-width: 80%;
  height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vi-form .selectioncontainer .entrydescription,
.vi-form .selectioncontainer label,
.vi-form .selectioncontainer button {
  margin-bottom: 5px;
}
/* Focus */
.vi-formInput:focus {
  outline: 0;
  border-color: #cc0000;
}
/* Buttons */
.vi-formBtn {
  padding: 10px 5px;
  color: #fff!important;
  background-color: #cc0000;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.6;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #800000;
  transition: all .3s ease;
  cursor: pointer;
}
.df_radiocontainer {
  float: left;
  margin-left: 15px;
  border: 1px solid #ccc;
  padding: 1px 6px 1px 2px;
  border-radius: 5px;
}
.radiovalue label {
  background: None;
  float: none;
  border: none;
  padding: 0px;
  line-height: 2em;
}
.radiovalue input {
  margin-right: 0px!important;
  margin-left: 5px;
}
/* ---------------------------------------------------------------------------------------
    #TABLES
--------------------------------------------------------------------------------------- */
.table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
  font-size: .7rem;
}
.tableHead-cell {
  background-color: #cc0000;
  border: 0px solid #eee;
  border-width: 0px 0px 1px 1px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 5px;
}
.tableHead-cell:first-of-type {
  border-width: 0px 0px 1px 0px;
}
.tableHead-cell:last-of-type {
  border-width: 0px 0px 1px 1px;
}
.tableHead-row:hover .tableHead-cell {
  background-color: #ff0000;
}
.tableBody-row:nth-of-type(even) {
  background-color: #e5e5e5;
}
.tableBody-row:nth-of-type(odd) {
  background-color: #d8d8d8;
}
.tableBody-row:nth-of-type(even):hover {
  background-color: #ffffff;
}
.tableBody-row:nth-of-type(odd):hover {
  background-color: #f2f2f2;
}
.tableBody-row:nth-of-type(even).is-active {
  background-color: #419839;
}
.tableBody-row:nth-of-type(odd).is-active {
  background-color: #398532;
}
.tableBody-row:nth-of-type(even).is-active:hover {
  background-color: #53bb49;
}
.tableBody-row:nth-of-type(odd).is-active:hover {
  background-color: #49ab40;
}
.tableBody-cell {
  vertical-align: middle;
  border: 1px solid #eee;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 5px 10px;
  font-weight: normal;
  color: #222222;
}
.tableBody-row.is-active .tableBody-cell {
  color: #000000;
}
.tableBody-row:last-of-type .tableBody-cell {
  border-width: 0px 1px 0px 0px;
}
.tableBody-row .tableBody-cell:last-of-type {
  border-width: 0px 0px 1px 0px;
}
.tableBody-row:last-of-type .tableBody-cell:last-of-type {
  border-width: 0px 0px 0px 0px;
}
.tableLink {
  display: block;
  padding: 8px;
  color: #222222;
}
/* ---------------------------------------------------------------------------------------
    #TOOLTIPS
--------------------------------------------------------------------------------------- */
/* These great tooltips are taken from primercss.io — created by and copyright GitHub, Inc. */
.tip {
  position: relative;
}
.tip:after {
  position: absolute;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 'Source Sans Pro', 'Open Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #f4f4f4;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.tip:before {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
}
.tip:hover:before,
.tip:active:before,
.tip:focus:before,
.tip:hover:after,
.tip:active:after,
.tip:focus:after {
  display: inline-block;
  text-decoration: none;
}
.tip-vMultiline:hover:after,
.tip-vMultiline:active:after,
.tip-vMultiline:focus:after {
  display: table-cell;
}
.tip-s:after,
.tip-se:after,
.tip-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px;
}
.tip-s:before,
.tip-se:before,
.tip-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tip-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px;
}
.tip-sw:after {
  margin-right: -15px;
}
.tip-n:after,
.tip-ne:after,
.tip-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px;
}
.tip-n:before,
.tip-ne:before,
.tip-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8);
}
.tip-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px;
}
.tip-nw:after {
  margin-right: -15px;
}
.tip-s:after,
.tip-n:after {
  transform: translateX(50%);
}
.tip-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  transform: translateY(50%);
}
.tip-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8);
}
.tip-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(50%);
}
.tip-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8);
}
.tip-vMultiline:after {
  width: max-content;
  max-width: 250px;
  word-break: break-word;
  word-wrap: normal;
  white-space: pre-line;
  border-collapse: separate;
}
.tip-vMultiline.tip-s:after,
.tip-vMultiline.tip-n:after {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.tip-vMultiline.tip-w:after,
.tip-vMultiline.tip-e:after {
  right: 100%;
}
.tip-vSticky:before,
.tip-vSticky:after {
  display: inline-block;
}
.tip-vSticky.tip-vMultiline:after {
  display: table-cell;
}
.tip-vSuccess:after {
  color: #000000;
  background: #419839;
}
.tip-vSuccess .tooltipped-s:before,
.tip-vSuccess .tooltipped-se:before,
.tip-vSuccess .tooltipped-sw:before {
  border-bottom-color: #419839;
}
.tip-vSuccess.tooltipped-n:before,
.tip-vSuccess.tooltipped-ne:before,
.tip-vSuccess.tooltipped-nw:before {
  border-top-color: #419839;
}
.tip-vSuccess.tooltipped-e:before {
  border-right-color: #419839;
}
.tip-vSuccess.tooltipped-w:before {
  border-left-color: #419839;
}
/* ---------------------------------------------------------------------------------------
    MESSAGES and ALERTS
--------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------
    GLOBAL STATES
--------------------------------------------------------------------------------------- */
/* Admin Hint */
.is-admin {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #419839;
  color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
  z-index: 9001;
}
.is-admin a,
.is-admin a:link,
.is-admin a:active,
.is-admin a:visited,
.is-admin a:hover {
  color: #f4f4f4;
  text-decoration: underline;
}
/* Selections */
::-moz-selection,
::selection {
  background-color: #660000;
  text-shadow: none;
  color: #f4f4f4;
}
/* ---------------------------------------------------------------------------------------
    #FOOTER
--------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------
    #PARALLAX EFFECT BOX
--------------------------------------------------------------------------------------- */
.parallax {
  height: 400px;
  width: 100%;
  background-image: url('../images/test.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
/* Media Queries */
@media only screen and (max-width: 1400px) {
  
}
@media only screen and (max-width: 1220px) {
  
}
@media only screen and (max-width: 959px) {
  body {
    font-size: 90%;
  }
  .vi-formLabel {
    width: 100%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    border-right-width: 1px;
  }
  .vi-formInput {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
    height: 35px;
  }
  .no-mobile {
    display: none;
  }
  .parallax {
    background-attachment: scroll!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 280px;
  }
}
@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  /* disable background-attachment: fixed on iOS devices */
  .parallax {
    background-attachment: scroll!important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
}
/* Print */
@media print {
  .no-print {
    display: none;
  }
}
