<div class="content">
	<div class="section">
		<h1 class="headline">Forms</h1>
	</div>
	<div class="section">
		<h2>Default Form</h2>
		<p>This is a standard form.</p>
		<form>
			<label class="label">Label</label>
			<input class="input" type="text" placeholder="Default input">
			<input class="input input-vContrast" type="text" placeholder="Input with contrast">
			<button class="btn" type="button">Button</button>
		</form>
	</div>
	<div class="section">
		<h2>Selection</h2>
		<p>This is a select menu.</p>
		<form>
			<label class="label">Select an option</label>
			<select class="select">
				<option>Test</option>
				<option>Test 2</option>
				<option>Test</option>
			</select>
		</form>
	</div>
	<div class="section">
		<h2>Small selection</h2>
		<p>This is a small select menu.</p>
		<form>
			<label class="label label-vSmall">Select an option</label>
			<select class="select select-vSmall">
				<option>Test</option>
				<option>Test 2</option>
				<option>Test</option>
			</select>
		</form>
	</div>
	<div class="section">
		<h2>Input connected with button</h2>
		<p>This is an input directly connected to a button.</p>
		<form>
			<div class="inputGroup">
				<label class="label" for="inputGroup-input">Label</label>
				<input class="input" id="inputGroup-input" type="text" placeholder="Default input">
				<button class="btn" type="button">Button</button>
			</div>
			<div class="inputGroup">
				<label class="label is-required" for="inputGroup-input">This is required</label>
				<input class="input" id="inputGroup-input" type="text" placeholder="Default input">
				<button class="btn" type="button">Button</button>
			</div>
			<div class="inputGroup">
				<label class="label has-icon i-heart" for="inputGroup-input">Label with icon</label>
				<input class="input" id="inputGroup-input" type="text" placeholder="Default input">
				<button class="btn" type="button">Button</button>
			</div>
		</form>
	</div>
	<div class="section">
		<h2>Small input</h2>
		<p>This is a small input.</p>
		<form>
			<input class="input input-vSmall" type="text" placeholder="Small input">
		</form>
	</div>
	<div class="section">
		<h2>Large input</h2>
		<p>This is a large input.</p>
		<form>
			<input class="input input-vLarge" type="text" placeholder="Large input">
		</form>
	</div>
	<div class="section">
		<h2>Disabled and read-only inputs</h2>
		<p>This is a disabled and a read-only input.</p>
		<form>
			<label class="label is-disabled">Label</label>
			<input class="input is-disabled" type="text" value="No input here" disabled="disabled">
			<input class="input is-readonly" type="text" value="Just readin'" readonly>
		</form>
	</div>
	<div class="section">
		<h2>Block input</h2>
		<p>This is a block input.</p>
		<form>
			<p><input class="input input-vBlock" type="text" placeholder="Block input"/></p>
		</form>
	</div>
	<div class="section">
		<h2>Error, recommended and accepted on input</h2>
		<p>These are examples for an error, a recommendation and an accepted status.</p>
		<form>
			<div class="inputGroup">
				<label class="label is-invalid">Label</label>
				<input class="input is-invalid" type="text" placeholder="Input">
			</div>
			<div class="inputGroup">
				<label class="label is-recommended">Label</label>
				<input class="input is-recommended" type="text" placeholder="Input">
			</div>
			<div class="inputGroup">
				<label class="label is-valid">Label</label>
				<input class="input is-valid" type="text" placeholder="Input">
			</div>
		</form>
	</div>
	<div class="section">
		<h2>Checkbox</h2>
		<p>This is an example of an checkbox.</p>
		<form>
			<label class="pointer" for="check1">
				<input id="check1" class="checkbox" type="checkbox">
				Test checkbox
			</label>
			<p class="note">This is an informative note.</p>
		</form>
	</div>
	<div class="section">
		<h2>Textarea</h2>
		<p>This is an example of a textarea.</p>
		<form>
			<div class="inputGroup">
				<label class="label">Textarea1
				</label>
				<textarea class="textarea"></textarea>
			</div>

				<textarea class="textarea textarea-vBlock">Textarea as block.</textarea>
		</form>
	</div>
	<div class="section">
		<h2>Form actions</h2>
		<p>Use formActions to float submit buttons to the right at the end of your form.</p>
		<form>
			<div class="formActions">
				<input type="submit" class="btn btn-vPrimary">
				<input type="reset" class="btn btn-vDanger">
			</div>
		</form>
	</div>

</div>