<div class="content">
	<div class="section">
		<h1 class="headline">Alerts and Messages</h1>

		<h2>Default message</h2>
		<p>This is a standard message.</p>

<div class="msg js-codeMe">
	<h3 class="msg-headline">Advice!</h3>
	<p>This gives some advice.</p>
</div>
	</div>
	<div class="section">
		<h2>Success message</h2>
		<p></p>

<div class="msg msg-vSuccess has-icon i-check js-codeMe">
	<h3 class="msg-headline">Success!</h3>
	<p>This was successful.</p>
</div>
	</div>
	<div class="section">
		<h2>Warning message</h2>
		<p></p>

<div class="msg msg-vWarn has-icon i-flash js-codeMe">
	<h3 class="msg-headline">Achtung!</h3>
	<p>This is a warning.</p>
</div>
	</div>
	<div class="section">
		<h2>Error message</h2>
		<p></p>

<div class="msg msg-vError has-icon i-cross js-codeMe">
	<h3 class="msg-headline">Error!</h3>
	<p>This was a mistake.</p>
</div>
	</div>
	<div class="section">
		<h2>Message with icon</h2>
		<p></p>

<div class="msg has-icon i-heart js-codeMe">
	<h3 class="msg-headline">Icon!</h3>
	<p>This is a before element icon.</p>
</div>

<div class="msg has-icon js-codeMe">
	<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><path fill="#D00F1C" d="M32.061 53.776a.121.121 0 0 1-.062-.01c-.02.009-.034.016-.062.01a.212.212 0 0 1-.152-.062L8.847 30.775c-6.973-6.974-6.716-14.301.761-21.781l.228-.229c2.941-2.94 6.051-4.432 9.24-4.432 3.929 0 8.006 2.168 12.464 6.627l.46.418.468-.424c4.449-4.453 8.529-6.622 12.456-6.622 3.188 0 6.299 1.492 9.24 4.432l.227.229c7.479 7.479 7.735 14.809.764 21.781l-22.941 22.94a.21.21 0 0 1-.153.062z"/></svg>
	<h3 class="msg-headline">Icon!</h3>
	<p>This is an inline icon. It changes the color according to its parent.</p>
</div>
	</div>
</div>

<div class="alert-center">
	<div class="alert has-icon i-heart">
		<h4 class="alert-headline">Advice!</h4>
		<p>This gives some advice.</p>
	</div>
	<div class="alert alert-vSuccess has-icon i-check">
		<h4 class="alert-headline">Success!</h4>
		<p>This was successful.</p>
	</div>
	<div class="alert alert-vWarn has-icon i-flash">
		<h4 class="alert-headline">Warning!</h4>
		<p>This is a warning.</p>
	</div>
	<div class="alert alert-vError has-icon i-cross">
		<h4 class="alert-headline">Error!</h4>
		<p>This was a mistake.</p>
	</div>
</div>