	<div class="content section">
		<h1 class="headline">Parallax Effect</h1>
		<p>
			The parallax effect wrapper makes it easy to use screen wide images with the well known scroll effect.<br>
Attach a variant to achieve better fitting for different screen ratios (3:1, 2:1, 16:9, 4:3).
		</p>
	</div>
</div> <!-- close .bind.flex -->
<section class="wrap parallax">
</section>
<div class="bind">
	<div class="content section">
		<h3>Ratio 3:1</h3>
	</div>
</div>
<section class="wrap parallax parallax-v3by1">
</section>
<div class="bind">
	<div class="content section">
		<h2>Ratio 2:1</h2>
	</div>
</div>
<section class="wrap parallax parallax-v2by1">
</section>
<div class="bind">
	<div class="content section">
		<h2>Ratio 16:9</h2>
	</div>
</div>
<section class="wrap parallax parallax-v16by9">
</section>
<div class="bind">
	<div class="content section">
		<h2>Ratio 4:3</h2>
	</div>
</div>
<section class="wrap parallax parallax-v4by3">
</section>

<div><!-- need to start a new div because of the previous closing .bind.flex to get a valid HTML -->