<section class="content section">
	<h1 class="headline">Spinner</h1>
	<p>
		A spinner helping to load content with AJAX etc.
	</p>
	<div class="sandbox is-busy">
		<div class="spinner-overlay">
			<div class="spinner">
				<div class="spinner-square"></div>
				<div class="spinner-square"></div>
				<div class="spinner-square"></div>
				<div class="spinner-square"></div>
				<div class="spinner-square"></div>
			</div>
		</div>
	</div>
</section>