@charset "UTF-8";
// ---------------------------------------------------------------------------------------
//    APPCONFIGURATION
// ---------------------------------------------------------------------------------------

// Color and Shadow Sets
@mainColor: #cc0000; // #FIXME!
@complementColor: #123456; // #FIXME!
@textColor: #222;
@invTextColor: #f4f4f4;
@backgroundColor: #fff;

@successColor: #419839; // Green
@failColor: #D9A600; // Orange
@dangerColor: #cc0000;
@hintColor: #A4C1D1; // Greyish Light Blue

@defaultShadow: 1px 2px 3px rgba(0,0,0,0.3);

// Font Stacks
@bodyFonts: 'Source Sans Pro', 'Open Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; // Default font stack
@headFonts: 'Source Sans Pro', 'Open Sans', sans-serif; // Fonts for headlines, blockquotes and alike
@monoFonts: Courier, monospace; // Fonts for code pieces

// Put your custom color, shadow and font overwrites here. Try this:
// @btnDangerBgColor: orange;

// Width and Media Queries
@pageWidth: 1000px; //max-width of the centered container

@breakSmall: 959px; // smart phones
@breakMedium: 1220px; // tablets
@breakLarge: 1400px; // screens
@break2x: 192dpi; // high-density displays
@breakPrint: print; // make it printable!

