@charset "UTF-8";
/* ---------------------------------------------------------------------------------------
    #WRAPPER and BINDER
--------------------------------------------------------------------------------------- */

/* 
Container to wrap up chunks of content over the whole width of the page. 
Use it for different background colors oder images across the screen. 
*/
.wrap {width:100%; overflow:hidden;}

/* Container to center the content in the middle of the page. */
.bind {max-width:@pageWidth; padding:0 5%; margin:0 auto; position: relative; overflow: hidden;}

/* Container to seperate chunks of content in the middle of the page. */
.content {
  width:100%;
  padding:40px 4px 4px; /* 40px padding helps with top navigations, 4px paddings prevent shadow overflow. */
  overflow:hidden;
}


// => Wrapper and Binder Media Queries

.media-mixin(@break) when (@break = @breakSmall) {

}

.media-mixin(@break) when (@break = @breakMedium) {

}

.media-mixin(@break) when (@break = @breakLarge) {

}

.media-mixin(@break) when (@break = @breakPrint) {

}